.pt-0 { padding-top: 0px; }
.mt-0 { margin-top: 0px; }
.pb-0 { padding-bottom: 0px; }
.mb-0 { margin-bottom: 0px; }
.pl-0 { padding-left: 0px; }
.ml-0 { margin-left: 0px; }
.pr-0 { padding-right: 0px; }
.mr-0 { margin-right: 0px; }
.p-0 { padding: 0px; }
.m-0 { margin: 0px; }
.pt-1 { padding-top: 4px; }
.mt-1 { margin-top: 4px; }
.pb-1 { padding-bottom: 4px; }
.mb-1 { margin-bottom: 4px; }
.pl-1 { padding-left: 4px; }
.ml-1 { margin-left: 4px; }
.pr-1 { padding-right: 4px; }
.mr-1 { margin-right: 4px; }
.p-1 { padding: 4px; }
.m-1 { margin: 4px; }
.pt-2 { padding-top: 8px; }
.mt-2 { margin-top: 8px; }
.pb-2 { padding-bottom: 8px; }
.mb-2 { margin-bottom: 8px; }
.pl-2 { padding-left: 8px; }
.ml-2 { margin-left: 8px; }
.pr-2 { padding-right: 8px; }
.mr-2 { margin-right: 8px; }
.p-2 { padding: 8px; }
.m-2 { margin: 8px; }
.pt-3 { padding-top: 12px; }
.mt-3 { margin-top: 12px; }
.pb-3 { padding-bottom: 12px; }
.mb-3 { margin-bottom: 12px; }
.pl-3 { padding-left: 12px; }
.ml-3 { margin-left: 12px; }
.pr-3 { padding-right: 12px; }
.mr-3 { margin-right: 12px; }
.p-3 { padding: 12px; }
.m-3 { margin: 12px; }
.pt-4 { padding-top: 16px; }
.mt-4 { margin-top: 16px; }
.pb-4 { padding-bottom: 16px; }
.mb-4 { margin-bottom: 16px; }
.pl-4 { padding-left: 16px; }
.ml-4 { margin-left: 16px; }
.pr-4 { padding-right: 16px; }
.mr-4 { margin-right: 16px; }
.p-4 { padding: 16px; }
.m-4 { margin: 16px; }
.pt-5 { padding-top: 20px; }
.mt-5 { margin-top: 20px; }
.pb-5 { padding-bottom: 20px; }
.mb-5 { margin-bottom: 20px; }
.pl-5 { padding-left: 20px; }
.ml-5 { margin-left: 20px; }
.pr-5 { padding-right: 20px; }
.mr-5 { margin-right: 20px; }
.p-5 { padding: 20px; }
.m-5 { margin: 20px; }

.bg-black { background-color: #000000; }
.bg-black-50 { background-color: #e5e5e5; }
.bg-black-100 { background-color: #cccccc; }
.bg-black-150 { background-color: #b2b2b2; }
.bg-black-200 { background-color: #999999; }
.bg-black-250 { background-color: #7f7f7f; }
.bg-black-300 { background-color: #666666; }
.bg-black-350 { background-color: #4c4c4c; }
.bg-black-400 { background-color: #333333; }
.bg-black-450 { background-color: #191919; }
.bg-black-500 { background-color: #000000; }
.bg-black-550 { background-color: #000000; }
.bg-black-600 { background-color: #000000; }
.bg-black-650 { background-color: #000000; }
.bg-black-700 { background-color: #000000; }
.bg-black-750 { background-color: #000000; }
.bg-black-800 { background-color: #000000; }
.bg-black-850 { background-color: #000000; }
.bg-black-900 { background-color: #000000; }
.bg-black-950 { background-color: #000000; }
.bg-white { background-color: #ffffff; }
.bg-white-50 { background-color: #ffffff; }
.bg-white-100 { background-color: #ffffff; }
.bg-white-150 { background-color: #ffffff; }
.bg-white-200 { background-color: #ffffff; }
.bg-white-250 { background-color: #ffffff; }
.bg-white-300 { background-color: #ffffff; }
.bg-white-350 { background-color: #ffffff; }
.bg-white-400 { background-color: #ffffff; }
.bg-white-450 { background-color: #ffffff; }
.bg-white-500 { background-color: #ffffff; }
.bg-white-550 { background-color: #e5e5e5; }
.bg-white-600 { background-color: #cccccc; }
.bg-white-650 { background-color: #b2b2b2; }
.bg-white-700 { background-color: #999999; }
.bg-white-750 { background-color: #7f7f7f; }
.bg-white-800 { background-color: #666666; }
.bg-white-850 { background-color: #4c4c4c; }
.bg-white-900 { background-color: #323232; }
.bg-white-950 { background-color: #191919; }
.bg-red { background-color: #ff0000; }
.bg-red-50 { background-color: #ffe5e5; }
.bg-red-100 { background-color: #ffcccc; }
.bg-red-150 { background-color: #ffb2b2; }
.bg-red-200 { background-color: #ff9999; }
.bg-red-250 { background-color: #ff7f7f; }
.bg-red-300 { background-color: #ff6666; }
.bg-red-350 { background-color: #ff4c4c; }
.bg-red-400 { background-color: #ff3333; }
.bg-red-450 { background-color: #ff1919; }
.bg-red-500 { background-color: #ff0000; }
.bg-red-550 { background-color: #e50000; }
.bg-red-600 { background-color: #cc0000; }
.bg-red-650 { background-color: #b20000; }
.bg-red-700 { background-color: #990000; }
.bg-red-750 { background-color: #7f0000; }
.bg-red-800 { background-color: #660000; }
.bg-red-850 { background-color: #4c0000; }
.bg-red-900 { background-color: #320000; }
.bg-red-950 { background-color: #190000; }
.bg-green { background-color: #00ff00; }
.bg-green-50 { background-color: #e5ffe5; }
.bg-green-100 { background-color: #ccffcc; }
.bg-green-150 { background-color: #b2ffb2; }
.bg-green-200 { background-color: #99ff99; }
.bg-green-250 { background-color: #7fff7f; }
.bg-green-300 { background-color: #66ff66; }
.bg-green-350 { background-color: #4cff4c; }
.bg-green-400 { background-color: #33ff33; }
.bg-green-450 { background-color: #19ff19; }
.bg-green-500 { background-color: #00ff00; }
.bg-green-550 { background-color: #00e500; }
.bg-green-600 { background-color: #00cc00; }
.bg-green-650 { background-color: #00b200; }
.bg-green-700 { background-color: #009900; }
.bg-green-750 { background-color: #007f00; }
.bg-green-800 { background-color: #006600; }
.bg-green-850 { background-color: #004c00; }
.bg-green-900 { background-color: #003200; }
.bg-green-950 { background-color: #001900; }
.bg-blue { background-color: #0000ff; }
.bg-blue-50 { background-color: #e5e5ff; }
.bg-blue-100 { background-color: #ccccff; }
.bg-blue-150 { background-color: #b2b2ff; }
.bg-blue-200 { background-color: #9999ff; }
.bg-blue-250 { background-color: #7f7fff; }
.bg-blue-300 { background-color: #6666ff; }
.bg-blue-350 { background-color: #4c4cff; }
.bg-blue-400 { background-color: #3333ff; }
.bg-blue-450 { background-color: #1919ff; }
.bg-blue-500 { background-color: #0000ff; }
.bg-blue-550 { background-color: #0000e5; }
.bg-blue-600 { background-color: #0000cc; }
.bg-blue-650 { background-color: #0000b2; }
.bg-blue-700 { background-color: #000099; }
.bg-blue-750 { background-color: #00007f; }
.bg-blue-800 { background-color: #000066; }
.bg-blue-850 { background-color: #00004c; }
.bg-blue-900 { background-color: #000032; }
.bg-blue-950 { background-color: #000019; }
.bg-yellow { background-color: #ffff00; }
.bg-yellow-50 { background-color: #ffffe5; }
.bg-yellow-100 { background-color: #ffffcc; }
.bg-yellow-150 { background-color: #ffffb2; }
.bg-yellow-200 { background-color: #ffff99; }
.bg-yellow-250 { background-color: #ffff7f; }
.bg-yellow-300 { background-color: #ffff66; }
.bg-yellow-350 { background-color: #ffff4c; }
.bg-yellow-400 { background-color: #ffff33; }
.bg-yellow-450 { background-color: #ffff19; }
.bg-yellow-500 { background-color: #ffff00; }
.bg-yellow-550 { background-color: #e5e500; }
.bg-yellow-600 { background-color: #cccc00; }
.bg-yellow-650 { background-color: #b2b200; }
.bg-yellow-700 { background-color: #999900; }
.bg-yellow-750 { background-color: #7f7f00; }
.bg-yellow-800 { background-color: #666600; }
.bg-yellow-850 { background-color: #4c4c00; }
.bg-yellow-900 { background-color: #323200; }
.bg-yellow-950 { background-color: #191900; }
.bg-cyan { background-color: #00ffff; }
.bg-cyan-50 { background-color: #e5ffff; }
.bg-cyan-100 { background-color: #ccffff; }
.bg-cyan-150 { background-color: #b2ffff; }
.bg-cyan-200 { background-color: #99ffff; }
.bg-cyan-250 { background-color: #7fffff; }
.bg-cyan-300 { background-color: #66ffff; }
.bg-cyan-350 { background-color: #4cffff; }
.bg-cyan-400 { background-color: #33ffff; }
.bg-cyan-450 { background-color: #19ffff; }
.bg-cyan-500 { background-color: #00ffff; }
.bg-cyan-550 { background-color: #00e5e5; }
.bg-cyan-600 { background-color: #00cccc; }
.bg-cyan-650 { background-color: #00b2b2; }
.bg-cyan-700 { background-color: #009999; }
.bg-cyan-750 { background-color: #007f7f; }
.bg-cyan-800 { background-color: #006666; }
.bg-cyan-850 { background-color: #004c4c; }
.bg-cyan-900 { background-color: #003232; }
.bg-cyan-950 { background-color: #001919; }
.bg-magenta { background-color: #ff00ff; }
.bg-magenta-50 { background-color: #ffe5ff; }
.bg-magenta-100 { background-color: #ffccff; }
.bg-magenta-150 { background-color: #ffb2ff; }
.bg-magenta-200 { background-color: #ff99ff; }
.bg-magenta-250 { background-color: #ff7fff; }
.bg-magenta-300 { background-color: #ff66ff; }
.bg-magenta-350 { background-color: #ff4cff; }
.bg-magenta-400 { background-color: #ff33ff; }
.bg-magenta-450 { background-color: #ff19ff; }
.bg-magenta-500 { background-color: #ff00ff; }
.bg-magenta-550 { background-color: #e500e5; }
.bg-magenta-600 { background-color: #cc00cc; }
.bg-magenta-650 { background-color: #b200b2; }
.bg-magenta-700 { background-color: #990099; }
.bg-magenta-750 { background-color: #7f007f; }
.bg-magenta-800 { background-color: #660066; }
.bg-magenta-850 { background-color: #4c004c; }
.bg-magenta-900 { background-color: #320032; }
.bg-magenta-950 { background-color: #190019; }
.bg-gray { background-color: #808080; }
.bg-gray-50 { background-color: #f2f2f2; }
.bg-gray-100 { background-color: #e5e5e5; }
.bg-gray-150 { background-color: #d8d8d8; }
.bg-gray-200 { background-color: #cccccc; }
.bg-gray-250 { background-color: #bfbfbf; }
.bg-gray-300 { background-color: #b2b2b2; }
.bg-gray-350 { background-color: #a6a6a6; }
.bg-gray-400 { background-color: #999999; }
.bg-gray-450 { background-color: #8c8c8c; }
.bg-gray-500 { background-color: #808080; }
.bg-gray-550 { background-color: #737373; }
.bg-gray-600 { background-color: #666666; }
.bg-gray-650 { background-color: #595959; }
.bg-gray-700 { background-color: #4c4c4c; }
.bg-gray-750 { background-color: #404040; }
.bg-gray-800 { background-color: #333333; }
.bg-gray-850 { background-color: #262626; }
.bg-gray-900 { background-color: #191919; }
.bg-gray-950 { background-color: #0c0c0c; }
.bg-orange { background-color: #ffa500; }
.bg-orange-50 { background-color: #fff6e5; }
.bg-orange-100 { background-color: #ffedcc; }
.bg-orange-150 { background-color: #ffe4b2; }
.bg-orange-200 { background-color: #ffdb99; }
.bg-orange-250 { background-color: #ffd27f; }
.bg-orange-300 { background-color: #ffc966; }
.bg-orange-350 { background-color: #ffc04c; }
.bg-orange-400 { background-color: #ffb733; }
.bg-orange-450 { background-color: #ffae19; }
.bg-orange-500 { background-color: #ffa500; }
.bg-orange-550 { background-color: #e59400; }
.bg-orange-600 { background-color: #cc8400; }
.bg-orange-650 { background-color: #b27300; }
.bg-orange-700 { background-color: #996300; }
.bg-orange-750 { background-color: #7f5200; }
.bg-orange-800 { background-color: #664200; }
.bg-orange-850 { background-color: #4c3100; }
.bg-orange-900 { background-color: #322000; }
.bg-orange-950 { background-color: #191000; }
.bg-purple { background-color: #800080; }
.bg-purple-50 { background-color: #f2e5f2; }
.bg-purple-100 { background-color: #e5cce5; }
.bg-purple-150 { background-color: #d8b2d8; }
.bg-purple-200 { background-color: #cc99cc; }
.bg-purple-250 { background-color: #bf7fbf; }
.bg-purple-300 { background-color: #b266b2; }
.bg-purple-350 { background-color: #a64ca6; }
.bg-purple-400 { background-color: #993399; }
.bg-purple-450 { background-color: #8c198c; }
.bg-purple-500 { background-color: #800080; }
.bg-purple-550 { background-color: #730073; }
.bg-purple-600 { background-color: #660066; }
.bg-purple-650 { background-color: #590059; }
.bg-purple-700 { background-color: #4c004c; }
.bg-purple-750 { background-color: #400040; }
.bg-purple-800 { background-color: #330033; }
.bg-purple-850 { background-color: #260026; }
.bg-purple-900 { background-color: #190019; }
.bg-purple-950 { background-color: #0c000c; }
.bg-brown { background-color: #a52a2a; }
.bg-brown-50 { background-color: #f6e9e9; }
.bg-brown-100 { background-color: #edd4d4; }
.bg-brown-150 { background-color: #e4bfbf; }
.bg-brown-200 { background-color: #dba9a9; }
.bg-brown-250 { background-color: #d29494; }
.bg-brown-300 { background-color: #c97f7f; }
.bg-brown-350 { background-color: #c06969; }
.bg-brown-400 { background-color: #b75454; }
.bg-brown-450 { background-color: #ae3f3f; }
.bg-brown-500 { background-color: #a52a2a; }
.bg-brown-550 { background-color: #942525; }
.bg-brown-600 { background-color: #842121; }
.bg-brown-650 { background-color: #731d1d; }
.bg-brown-700 { background-color: #631919; }
.bg-brown-750 { background-color: #521515; }
.bg-brown-800 { background-color: #421010; }
.bg-brown-850 { background-color: #310c0c; }
.bg-brown-900 { background-color: #200808; }
.bg-brown-950 { background-color: #100404; }

.text-xs { font-size: 0.75rem; }
.text-sm { font-size: 0.875rem; }
.text-md { font-size: 1rem; }
.text-lg { font-size: 1.125rem; }
.text-xl { font-size: 1.25rem; }
.text-2xl { font-size: 1.5rem; }
.text-3xl { font-size: 1.875rem; }
.text-4xl { font-size: 2.25rem; }
.text-5xl { font-size: 3rem; }
